html{
    height: 100%;
    width: 100%;
}

body{
    background-image: url("../Background/brick.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    box-sizing: border-box;
}

header{
    display: flex;
}

#copyright{
    position: absolute;
    bottom: 1%;
}

.container{

    margin:auto;
    padding: 10px;
    width: 400px;
    height: 430px;
    background-color: rgba(0,0,0,.3);
    border-radius: 5px;
}

.title{
    font-family: "Arial Black";
    width: 70%;
    color: #000;
    font-size: 28px;
    margin: 10px auto;
    margin-bottom: 10px;
    text-align: center;

}

.payment{
    text-align: center;
}

input{
    padding: 12px 0;
    margin-bottom: 10px;
    border-radius: 3px;
    border: 2px solid transparent;
    text-align: center;
    width: 100%;
    font-size: 16px;
    transition: border .2s, background-color .2s;
}

input:invalid{
    border-color: #ff0000;
}

.field:valid{
    border-color: #008000;
}

.payment .field:focus {
    border: 2px solid #3498DB;

}

.payment .btn{
    font-family: "Arial Black";
    border-radius: 50px;
    background-color: #000;
    color: #fff;
    line-height: 25px;
    cursor: pointer;
}

.payment .btn:focus{outline: 0;}

.payment .btn:hover,.in{
    background-color: #fff;
    color: #000;
}

.retour{
    text-align: center;
}

.retour a{
    font-family: "Arial Black";
    font-size: 12px;
    color: #000;
}